#home-background { 
  background-image: url('../img/index.jpg');
  height: 100vh;
  background-size: cover;
}
/*buttons*/
ul {
  float: right;
  list-style-type: none;
  margin-right: 1cm;
}
li {
  display: inline-block;
  margin: 0.5cm;
  border: 0.1px solid black;

}