#home-background { 
  background-image: url('../img/index.jpg');
  height: 100vh;
  background-size: cover;
}
#about-background {
  background-image: url('../img/about.jpg');
  height: 100vh;
  background-size: cover;
}
#portfolio-background {
  background-image: url('../img/portfolio.jpg');
  height: 100vh;
  background-size: cover;
}
/*buttons*/
ul {
  float: right;
  list-style-type: none;
  margin-right: 1cm;
}
li {
  display: inline-block;
  margin: 0.3cm;
  border: 0.1px solid black;
  padding: 2px 20px 1px;
  border-radius: 1cm;
  font-family: Arial, Helvetica, sans-serif;
}
li:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
} 

#logo img {
  float: left;
  width: 0.8in;
  height: 0.9in;
  margin-top: 5px;
}

.about-box {
  float: right;
  margin-top: 1in;
  margin-right: 1in;
  border: solid black;
  border-radius: 20px;
  border-width: 1px;
  width: 5.5in;
  height: 5in;
  text-align: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-box:hover {
  background-color: white;
  transition: 1s;
}

.portfolio-box {
  float: left;
  margin-top: 1in;
  margin-left: 2in;
  border: solid black;
  border-radius: 20px;
  border-width: 1px;
  width: 2in;
  height: 2.8in;
  text-align: center;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 600;
  background-color: white;
}

.portfolio-box:hover {
  background-color: transparent;
  transition: 1s;
}

.portfolio-list {
  float: right;
  margin-top: 4.5in;
  margin-right: 2in;
  border: solid black;
  border-radius: 20px;
  border-width: 1px;
  width: 1.5in;
  height: 1.5in;
  text-align: center;
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 600;
  background-color: white;
}

.portfolio-list:hover {
  background-color: transparent;
  transition: 1s;
}

#inst {
  margin-right: 1cm;
}
