#home-background { 
  background-image: url('../img/index.jpg');
  height: 100vh;
  background-size: cover;
}
#about-background {
  background-image: url('../img/about.jpg');
  height: 100vh;
  background-size: cover;
}

/*buttons*/
ul {
  float: right;
  list-style-type: none;
  margin-right: 1cm;
}
li {
  display: inline-block;
  margin: 0.3cm;
  border: 0.1px solid black;
  padding: 2px 20px 1px;
  border-radius: 1cm;
  font-family: Arial, Helvetica, sans-serif;
}
li:hover{
  background-color: white;
  color: black;
  transition: 0.5s;
}

#logo img{
  float: left;
  width: 0.8in;
  height: 0.9in;
  margin-top: 5px;
}

.about-box {
  float: right;
  margin-top: 1in;
  margin-right: 1in;
  border-radius: 20px;
  width: 5.5in;
  height: 5in;
  border: solid black;
  border-width: 1px;
  text-align: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-box:hover{
  background-color: white;
  color: black;
}

#inst {
  margin-right: 3cm;
}

